body {
    background-color: aquamarine;
    margin: auto;
}

.departmenth1 {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 20px;
    color: brown;
    border: 2px solid red;
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 80%;
}

.conatiner1 {
    background-color: red;
}

.technology,
.medical,
.humanresource,
.marketing {
    margin-left: 2%;
    margin-top: 2px;
    margin-bottom: 3px;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2%;
    color: green;
}